@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

html,
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #d6d2cb;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
