* {
  box-sizing: border-box;

  /* cursor: url("%PUBLIC_URL%/wateringcan.png"), auto; */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* cursor: url("%PUBLIC_URL%/wateringcan.png"), auto; */
}
